h4 Users

table
    thead
        tr
            th telegram chat id
            th viber user id
            th phone
    tbody
        each user in users
            tr
                td=user.telegramChatId
                td=user.viberUserId
                td=user.number